
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.DS_Store
/demo-spring-boot-jdbc-template/src/main/.DS_Store
/demo-spring-boot-jdbc-template/src/main/java/com/dhy/demo/spring/jdbc/.DS_Store
/demo-spring-boot-tkmybatis/src/main/.DS_Store
/demo-spring-boot-jdbc-template/src/main/java/com/.DS_Store
/demo-spring-boot-jdbc-template/src/main/java/com/dhy/demo/spring/.DS_Store
/demo-spring-boot-jdbc-template/src/main/java/com/dhy/.DS_Store
/demo-spring-boot-jdbc-template/src/main/java/.DS_Store
/demo-spring-boot-jdbc-template/src/main/java/com/dhy/demo/.DS_Store
